/* Глобальный шрифт приложения */
.root {
    -fx-font-family: "Inter";
    -fx-font-size: 13px;
}

/* Стили для живых часов с датой */
.date-time-container {
    -fx-padding: 10px 15px 10px 15px;
    -fx-background-color: linear-gradient(to bottom, #d0d0d0, #e8e8e8);
    -fx-border-color: #999999;
    -fx-border-width: 0 0 2 0;
}

.date-time-label {
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: #1a1a1a;
}
